<header class="header">
  <h1>Gemail</h1>
</header>
<div class="login">
  <form action="#" class="login-form">
      <h2>Login</h2>
      <input class="inputClass" type="text" id="username" placeholder="Email" required>
      <input class="inputClass" type="password" id="password" placeholder="Senha" required>
      <div class="options">
        <input type="checkbox" id="remember">Lembrar-me
          <a class="frgPss">Esqueceu a Senha?</a>
      </div>
      <asl-google-signin-button type='standard' size='large' shape="circle"></asl-google-signin-button>
  </form>
  <div class="signup">
      <p style="margin-left: 25px;">Não tem uma conta? <a class="cadastro">Cadastre-se</a></p>
  </div>
</div>
<footer class="footer">
  <p>Matheus Gamba de Oliveira - Vinícius Estrázulas Mattos</p>
</footer>
<script src="https://accounts.google.com/gsi/client" async defer></script>
