.header {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}

.footer {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.frgPss {
  margin-left: 15px;
  color: #007bff;
  cursor: pointer;
}

.cadastro {
  color: #007bff;
  cursor: pointer;
}
.login {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin-top: 9%;
  margin-left: 39%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.inputClass{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
